.gallery {
	padding: 120px 15px;
	background-color: #f9f9ff;
	&-text {
		padding-bottom: 70px;
		h1 {
			font-size: 4vh;
			text-align: center;
			margin-bottom: 10px;
		}
		p {
			text-align: center;
			color: #777;
		}
	}
	&-list {
		@include flexbox(between);
		cursor: pointer;
		width: 100%;
		font-weight: 700;
		background-color: #fff;
		color: #111;
		font-size: 10px;
		border-radius: 6px;
		margin-bottom: 50px;
		li {
			@include flexbox;
			width: 100%;
			height: 46px;
			text-align: center;
			max-width: 184px;
			padding: 12px 0;
			border-right: 1px solid #edf6ff;
		}
		li:hover {
			background-color: rgb(236, 112, 112);
			color: #fff;
		}
	}
	&-img {
		@include flexbox;
		flex-wrap: wrap;
		gap: 0 20px;
		li {
			// max-width: 660px;
			// width: 100%;
			margin-bottom: 20px;
			img {
				display: block;
				width: 100%;
				height: auto;
				border-radius: 8px;
			}
		}
	}

	@include responsive(T) {
		padding: 120px 55px;
		&-list {
			font-weight: 700;
			font-size: 14px;
			li {
				height: 86px;
			}
		}
		&-img {
			li {
				flex-grow: 1;
				img {
					width: 40vw;
				}
			}
			.gallery-img-5,
			.gallery-img-6 {
				max-width: 45vw;
			}
		}
	}
	@include responsive(D) {
		padding: 120px 15px;
		&-img {
			justify-content: start;
			li {
				max-width: 350px;
				img {
					width: 100%;
					max-height: 370px;
				}
			}
			.gallery-img-6 {
				width: 330px;
			}
		}
	}
}
