.recipe {
	padding: 120px 15px;
	position: relative;
	background-color: #f1f2f6;
	overflow: hidden;
	&-search {
		@include column-flexbox;

		form {
			width: 100%;
			margin-top: 30px;
			.inputBox {
				@include flexbox(start, start);
				background-color: rgba(255, 255, 255, 0.75);
				padding: 20px 10px;
				border-radius: 16px;

				input {
					width: 100%;
					margin-left: 10px;
				}
			}
		}

		.searchList {
			@include flexbox;
			margin-top: 50px;
			flex-wrap: wrap;
			gap: 20px;
			h1 {
				color: #666;
			}
			.img-box {
				width: 350px;
				img {
					cursor: pointer;
					border-radius: 8px;
					display: block;
					width: 100%;
					height: auto;
					object-fit: contain;
				}

				p {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					text-align: center;
					margin-top: 20px;
				}
			}
		}
	}
	@include responsive(T) {
		&-search {
			h1 {
				font-size: 48px;
			}
			form {
				width: 50%;
			}
		}
	}
}
